.recipeContainer {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
  font-family: '문체부 제목 돋음체', sans-serif;
  color: darkslategray
}

.foodImage {
  max-width: 100%;
  height: auto;
}

.recipeText {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.recipeName {
  font-size: 1em;
  font-weight: bold;
  color: #393e46;
}

.viewButton {
  background-color: #29bb89;
  border: none;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}
